<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-md-6">
    <card cardTitle="Order">
      <form class="form-inline" [formGroup]="orderTableForm">
        <label class="control-label">Select Table: </label>
        <select style="width: 30%;" name="select" id="select1" class="form-control">
          <option value="option1">Category 1</option>
          <option value="option2">Category 2</option>
          <option value="option3">Category 3</option>
          <option value="option4">Category 4</option>
        </select>
        &nbsp;&nbsp;<button type="submit" class="btn btn-primary">Send Invitation</button>
      </form>
    </card>
  </div>
</div>
